
.footermainsub {
    /* background-color: rgb(0, 0, 0); */
    background-color: rgb(0, 0, 0);
    padding: 100px 0 0 0;  /* increase padding to increase height */
}

.footer-logo {
    max-width: 300px;  /* increase size of logo */
    margin-bottom: 30px;  /* increase margin for better spacing */
    margin-right: 3vw;
}

.contact-icon, .link-icon {
    margin-right: 10px;
    font-size: 1.5em;  /* increase icon size */
}

.contact-icon {
    color: #5151aa; /* green */
}

.link-icon {
    color: #5151aa; /* light blue */
}

.contractetc{
    color: #ffffff;
    font-size: 1.25em;  /* increase text size */
}

.contact-header, .links-header, .subscribe-header {
    color: #b9b2b2; /* amber */
    font-size: 1.5em;  /* increase header size */
    margin-bottom: 2vh;
}
.follow-header{color: #b9b2b2; /* amber */
    font-size: 1.5em;  /* increase header size */}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.25em;  /* increase link size */
}

.footer-links li:not(:last-child) {
    margin-bottom: 20px;  /* increase margin for better spacing */
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form input {
    padding: 15px;  /* increase padding for larger input field */
    margin-bottom: 20px;  /* increase margin for better spacing */
    border: none;
    font-size: 1.25em;  /* increase text size */
}

.newsletter-form button {
    padding: 15px;  /* increase padding for larger button */
    background-color: #f2f2f2;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1.25em;  /* increase text size */
}

.social-wrap {
    display: flex;
    align-items: center;
    gap: 20px;  /* increase gap for larger icons */
}

.social-icon {
    font-size: 36px;  /* increase icon size */
}

.facebook-icon {
    color: #4267B2; /* facebook blue */
}

.instagram-icon {
    color: #C13584; /* instagram gradient */
}

.twitter-icon {
    color: #1DA1F2; /* twitter blue */
}

.youtube-icon {
    color: #FF0000; /* youtube red */
}

.linkedin-icon {
    color: #0077B5; /* linkedin blue */
}

.footer-text {
    font-size: 16px;  /* increase text size */
    text-align: center;
    padding-top: 30px;  /* increase padding for better spacing */
    color: #bb4f1d; /* amber */
    font-weight:900;
}

@media only screen and (max-width: 768px) {
    .social-wrap {
        justify-content: center;
        margin-top: 30px;  /* increase margin for better spacing */
    }
    .footer-text {
        margin-top: 30px;  /* increase margin for better spacing */
    }
}
