nav {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 3px;
    justify-content: space-between;
    /* max-width: 15   50px; */
    height: 12%;
    margin: auto;
    background: rgba(0, 0, 0,0.8);
    align-items: center;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.2);
    min-width: 100%;
    margin-top: 0px;
   padding-top: 0px;
   position: absolute;
}

nav ul {

    margin-top: 20px;
    margin-right: 350px;
    width: 40%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    color: black;
    /* border: 2px solid red; */
    justify-content: space-between;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
.logo{
    margin-left: 20px;
}
a{
    font-weight: bolder;
    color: red;
}

.signup {
    margin-right: 55px;
    border: 3px solid black;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(162, 172, 181);
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    /* outline-offset: 54px; */
    vertical-align: middle;
    box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.4);
}

.contractus {
    text-decoration: none;
   
    margin-right: -20px;
    border: 3px solid black;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 94, 154);
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.4);
    

}
a:hover{
    font-size: 20px;
    transition: 0.35s;
    color: blue;
    /* box-shadow: 0 2px 3px 0 rgba(246, 234, 234, 0.8); */
}
.contractus:hover{
    color: black;
    transition: 0.35s;
}
.signup:hover{
    color: black;
    transition: 0.35s;
}
