html {
    background-color: rgb(223, 217, 217);
}

.candidateprofilepage {
    margin-top: 0px;
    padding-top: 0px;
    height: auto;
    width: 100%;
    background-color: rgb(223, 217, 217);
    display: grid;
    grid-template-columns: 30vw 68.9vw;
    grid-template-rows: 10% 900px 400px;

}

.navbar {

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.leftside {
    /* margin-left: 1vw; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.managerinfo {
    margin-left: 1.5vw;
}

.postname {
    /* text-decoration: underline; */
    font-weight: bolder;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    font-size: 2.5vh;
    margin: 0;
    padding-top: 1vh;
}

.postholder {
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    color: rgb(86, 81, 81);
}

.Notesheadings {
    display: flex;
    flex-direction: row;
    /* font-weight: bolder; */
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    color: rgb(86, 81, 81);
    margin: 0;
    padding: 0%;
    font-weight: normal;
    text-shadow: 1px 0 rgb(66, 65, 65), 0 1px rgb(75, 69, 69), 1px 1px black;
    font-size: 1VW;
    margin-left: 1.5vw;
}

.addnotesbut {
    margin-left: 52%;
}

.addnotesbut:hover {

    color: rgb(33, 33, 175);
    /* font-size:1.1vw ; */
}

.inutfieldjobsdescsmall {
    margin: 0%;
    padding: 0%;
}

.hsitoryheading {
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    color: rgb(86, 81, 81);
    margin-bottom: 0;
    margin-top: 5%;
    padding: 0%;
    font-weight: normal;
    text-shadow: 1px 0 rgb(66, 65, 65), 0 1px rgb(75, 69, 69), 1px 1px black;
    font-size: 1.5VW;
    margin-left: 1.5vw;
}

.hsitorydetails {
    margin-left: 1.5vw;
    letter-spacing: 3px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2vh;
}

.hh4r {
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    font-size: 2vh;
    margin-top: 2vh;
    font-weight: bolder;
}

.dates {
    margin-left: 1%;
    /* margin: 0%; */
    padding: 0%;
    text-shadow: 1px 0 rgb(125, 114, 114), 0 1px rgb(114, 110, 110), 1px 1px rgb(189, 180, 180);
    font-weight: normal;
    font-size: 1.5vh;
}

.rightside {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    /* background-color: rgb(133, 69, 69); */
    margin-left: 2vw;

}

.proessList {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;

}

.logoarr {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0.5%;
}

.processtask {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    color: rgb(117, 111, 111);
    font-weight: bolder;
    text-shadow: 1px 0 rgb(210, 199, 199), 0 1px rgb(179, 167, 167), 1px 1px rgb(220, 216, 216);
    font-size: 1.5VW;

}

.current {
    color: rgb(45, 42, 42);

}

.nameandrole {
    display: flex;
    flex-direction: row;
}

.logoarrlarg {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 0.9%;
}

.tognamerol {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    color: rgb(50, 48, 48);
    font-weight: bolder;
    /* text-shadow: 1px 0 rgb(210, 199, 199), 0 1px rgb(179, 167, 167), 1px 1px rgb(220, 216, 216); */
    font-size: 2.5VW;
}

.descprof {
    font-weight: bold;
    color: rgb(71, 69, 69);
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.opencvbutdiv {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.opnecvbut {
    border-style: solid;
    border-color: black;
    padding: 3px 3px;
    border-radius: 50px;
    width: 12vw;
    height: 7vh;
    background-color: #093b60;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 3.5vh;
    letter-spacing: 4px;
    color: antiquewhite;
    /* border-radius: px; */


}

.companydispayinfodiv {
    background-color: white;
    border-style: solid;
    border-color: rgb(38, 36, 36);
    padding: 3px 3px;
    margin-top: 2vh;
    /* display: block; */
    width: 65vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.divhead {
    margin-top: 2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 4vh;
    letter-spacing: 4px;

}

.skilssetdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skillsetp {
    background-color: white;
    /* margin-left: 5vw; */
    background-color: rgb(187, 178, 178);
    padding: 2vh 3vw;
    border-radius: 5px;
    /* font-size: large; */
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;
}

.footercandidateprofpg {

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

}