.alldetails {
  margin-top: 0px;
  padding-top: 0px;
  height: auto;
  width: 100%;
  background-color: rgb(223, 217, 217);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7% 8% 480px 8% 300px;
  grid-gap: 0%;
}

.alldetailscand {
  margin-top: 0px;
  padding-top: 0px;
  height: auto;
  width: 100%;
  background-color: rgb(223, 217, 217);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7% 8% 680px ;
  grid-gap: 0%;
}


.navbar {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  /* position: fixed; */
}

.maninhead {
  margin-top: 2%;
  /* margin-left: 41%; */
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-decoration: underline;
  letter-spacing: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.headingcomp {
  margin-left: 30%;
  text-decoration: underline;
  font-size: 190%;
  color: rgb(74, 69, 69);
  font-weight: bolder;
}

.col1 {
  margin-left: 10%;
  /* margin-top: %; */
  margin-right: 10%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-left: 20%;
  /* position: fixed; */
}
.col1cand{
  margin-left: 10%;
  /* margin-top: %; */
  margin-right: 10%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-left: 20%;
  margin-top: 3%;
}

a {
  font-weight: bolder;
  color: red;
}

.register1154 {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 10px 25px;
  border-radius: 50px;
  width: 8vw;
  background-color: #132f44;
  justify-content: center;
  /* margin-left: 44vw; */
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 3vh;
  color: blanchedalmond;
  align-content: center;
  text-decoration: none;
  margin-left: 8vw;
}

.back1154 {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 10px 35px;
  border-radius: 50px;
  width: 8vw;
  background-color: #132f44;
  justify-content: center;
  /* margin-left: 44vw; */
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 3vh;
  color: blanchedalmond;
  align-content: center;
  text-decoration: none;
}
.register1154:hover,
.back1154:hover {
  color: rgb(235, 235, 244);
}

.bio {
  height: 150px; /* Adjust the height as needed */
  resize: vertical;
  overflow-y: auto;
  word-wrap: break-word;
}

.buttondet {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  justify-content: center;
  margin-bottom: 8vh;
}

.footercompdetailspg {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  /* background: rgba(0, 0, 0, 0.9); */
}
@media only screen and (max-width: 600px) {
  .col1 {
    margin-left: 5%;
    margin-right: 5%;
  }

  .register1154,
  .back1154 {
    font-size: 0.8em; /* decrease font size */
    padding: 10px 15px; /* decrease padding */
    height: auto; /* allow the height to adapt to content */
    margin-left: 5%;
    box-sizing: border-box; /* make sure padding and border are included in the element's total width and height */
  }

  .maninhead {
    font-size: 1.2em; /* decrease font size */
    /* margin-left: 10%; adjust margin */
  }

  .buttondet {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-content: center;
    /* align-items: ; */
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .col1 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .register1154,
  .back1154 {
    font-size: 0.9em; /* decrease font size */
    padding: 15px 20px; /* adjust padding */
    height: auto; /* allow the height to adapt to content */
    width: 15vw;
    margin-left: 10%;
    box-sizing: border-box; /* make sure padding and border are included in the element's total width and height */
  }

  .maninhead {
    font-size: 1.5em; /* decrease font size */
    margin-left: 20%; /* adjust margin */
  }

  .buttondet {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
