

    .dashboardcompany {
      margin-top: 0px;
      padding-top: 0px;
      height: auto;
      width: 100%;
      background-color: rgb(223, 217, 217);
      display: grid;
      grid-template-columns: 27% 73%;
      grid-template-rows: 4.9% 10% 180px 455px;
      grid-gap: 0%;
      overflow-x: hidden;
    }

    .navbar {

      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;

    }

    .head {
      font-size: 4vh;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: bolder;
      letter-spacing: 2px;
    }


    .searchbar {

      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      display: flex;
      margin-top: 6vh;
      width: 100vw;
      flex-direction: row;
      gap: 5%;

    }
    .createNewjob{
      margin-top: 1vh;
      border-style: solid;
      border-color: black;
      padding: 7px 7px;
      border-radius: 50px;
      width: 13vw;
      height: 8vh;
      background-color: #093b60;
      justify-content: center;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bolder;
      font-size: 2.5vh;
      color: antiquewhite;
    }

    .Sidebar {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 4;
    }

    .jobs {
      margin-top: 0px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      background-color: rgb(223, 217, 217);
      margin-left: 3vw;
      ;

    }

    .footerDASHBOARDpg {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
  
    }

    tbody {
      margin-top: 2%;
    }

    .job__desc {
      padding-bottom: 10px;
    }





    .newjob {

      background-color: initial;
      background-image: linear-gradient(rgb(58, 104, 145), rgb(17, 72, 120) 50%);
      border-radius: 20px;
      border-width: 0;
      box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
      color: #FFFFFF;
      cursor: pointer;
      font-family: Quicksand, sans-serif;
      font-size: 107%;
      font-weight: 700;
      letter-spacing: .04em;
      line-height: 46%;
      margin: 0;
      padding: 18px 10px;
      text-align: center;
      text-decoration: none;
      text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px, rgba(57, 31, 91, 0.32) 4px 4px 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      margin-right: 5%;
      width: 15%;

    }

    .newjob:hover {
      background-image: linear-gradient(rgb(93, 108, 121), rgb(43, 83, 118) 100%);
    }

    @media (min-width: 768px) {
      .url {
        font-size: 21px;
        padding: 18px 34px;
      }
    }
    