.h1h {
  position: relative;
  color: #282726;
  font-family: "Droid serif", serif;
  font-size: 49px;
  font-weight: bolder;
  font-style: italic;
  line-height: 44px;
  margin: 0 0 12px;
  text-align: center;
  z-index: 1;
}

.h1h::before,
.h1h::after {
  content: "";
  position: absolute;
  bottom: -6px;
  /* change the top property to bottom */
  left: 0;
  /* set left to 0 to start the line at the left edge of the container */
  right: 0;
  /* set right to 0 to end the line at the right edge of the container */
  margin: 0 auto;
  /* center the line horizontally */
  width: 50%;
  height: 2px;
  background-color: #353433;
}

.h1h::before {
  left: 0;
}

.h1h::after {
  right: 0;
}

.newjobpage {
  margin-top: 0px;
  padding-top: 0px;

  height: auto;
  width: 100%;
  background-color: rgb(223, 217, 217);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 12% 10% 400px 60px 500px;
  grid-gap: 0%;
}

.navbar {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.mainhead {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.details {
  margin-top: 0px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.job-desc-cell {
  padding: 2px;
}

.descriptions {
  margin-top: 0px;
  grid-column-start: 2;
  grid-column-end: 3;
  z-index: 1;
  grid-row-start: 3;
  grid-row-end: 4;
}
.buttonjobnew {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  /* background: rgba(0, 0, 0, 0.9); */
  display: flex;
  justify-content: center; /* for horizontal alignment */
  align-items: center; /* for vertical alignment */
  flex-direction: row; /* stack the items vertically */
  height: 100%;
  /* margin-bottom: ; */
}
.backjobnew {
  background-color: rgb(65, 73, 73);
  margin: 3%;
  border-radius: 30px;
  border: 3px solid black;
  color: beige;
  font-size: 140%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  /* display: inline-block; */
  padding: 0.5% 3%;
}
.createjobnew {
  background-color: rgb(65, 73, 73);
  margin: 3%;
  border-radius: 30px;
  border: 3px solid black;
  color: beige;
  font-size: 140%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  /* display: inline-block; */
  padding: 0.5% 3%;
}

.footerjob1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  background: rgba(0, 0, 0, 0.9);
}
