.loginpage {
   margin-top: 0px;
   padding-top: 0px;

   height: auto;
   width: 100%;
   background-color: rgb(223, 217, 217);
   display: grid;
   grid-template-columns: 25% 50% 25%;
   grid-template-rows: 7% 1100px 500px;
   grid-gap: 0%
}

.navbar {

   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 2;
   
   /* position: fixed; */
}

.LogForm{
   margin-top: 0px;
   grid-column-start: 1;
   grid-column-end: 4;
   z-index: 1;
   grid-row-start: 2;
   grid-row-end: 3;
}

.footerloginpg {
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 3;
   grid-row-end: 4;
   
}